#updateAuwa i{
	position: absolute;
	left: 9.5px;
	width: 39px;
	height: 39px;
	top: 3px;
	font-size: 39px;
	color : #07d8d8;
	box-sizing: border-box;
}

#AuwaUpgrade{
	width: 550px;
	right: 0;
	top: 0;
	bottom: 0;
	left: auto;
	height: auto;
}
	#AuwaUpgrade article h1{
		margin: 10px;
	}

	#AuwaUpgrade article div.alert-success{
		text-align: center;
	}
	
	#AuwaUpgrade article>section,
	#AuwaUpgrade article>ul{
		position: absolute;
		top: 0;
		bottom: 0;
		margin: 0;
		padding: 5px;
		box-sizing: border-box;
	}
	#AuwaUpgrade article>ul{
		left: 0;
		width: 100px;
	}	
		#AuwaUpgrade article>ul li{
			margin: 8px 0;
			background-color: #555;
			color: #fff;
			padding: 8px;
			cursor: pointer;
		}
		#AuwaUpgrade article>ul li.active{
			background-color: #008c11
		}
		#AuwaUpgrade article>ul li:hover{
			background-color: #265c8a;
		}
	#AuwaUpgrade article>section{
		display: none;
		left: 120px;
		right: 0;
		overflow-y: auto;
	}

		#AuwaUpgrade article>section button{
			padding: 1em;
			background-color: #008c11;
			color: #fff;
			font-size: 1.15em;
			margin: 10px;
			cursor: pointer;
		}
		#AuwaUpgrade article>section[role="core"],
		#AuwaUpgrade article>section.uinfo{
			display: block;
		}
		#AuwaUpgrade article>section.uinfo{
			left: 0;
		}
		#AuwaUpgrade article>section.updating{
			background: #3d4049;
			color: #fff;
		}
		#AuwaUpgrade img{
			width: 100%;
		}
		#AuwaUpgrade article>section ul{
			margin: 0;
			padding-left: 0;
			text-align: left;
		}
			#AuwaUpgrade article>section ul li{
				padding: 10px;
				margin: 8px;
				list-style: none;
				border-bottom: 1px solid #ccc;
				font-size: .9em;
			}
				#AuwaUpgrade article>section ul li:after{
					display: table;
					content: ' ';
					clear: both;
				}
				#AuwaUpgrade article>section ul li h1{
					margin: 4px 0;
				}
				#AuwaUpgrade article>section ul li button{
					padding: 4px 6px;
					float: right;
					margin: 8px 0 0 4px;
				}